.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.toast-header {
    .btn-close {
        position: absolute;
        margin-left: 0px !important;
    }
}

a {
    text-decoration: none !important;
}
a:hover {
    color: #d512a4 !important;
    text-decoration: underline !important;
}